@charset "utf-8";
#wrap{width: 1200px;margin: 0 auto;}
img{display: block;}

#header{height: 100px;}
.logo{float: left;width: 200px;height: 100px;background: skyblue;}
.menu{float: left;width: 1000px;height: 100px;background: blue;}


/*
#banner{height: 360px;background: #222;}
.slide{width: 1200px;height: 360px;position: relative;overflow: hidden;}
.slide ul{width: 3600px;position: absolute;}
.slide li{float: left;}
*/
#banner{height: 360px;background: #222;}
.slide{width: 100%;height: 360px;position: relative;overflow: hidden;}
.slide ul{}
.slide li{position: absolute;width: 1200px;}
.slide li:nth-child(1){z-index: 3;}
.slide li:nth-child(2){z-index: 2;}


#contnets{height: 200px;background: 333px;}
.cont1{float: left;width: 400px;height: 200px;background: pink;}
.cont2{float: left;width: 400px;height: 200px;background: deeppink;}
.cont3{float: left;width: 400px;height: 200px;background: pink;}


#footer{height: 100px;background: #444;}
.foot1{float: left;width: 100px;height: 100px;background: green;}
.foot2{float: left;width: 1000px;height: 100px;background-color: aquamarine;}
.foot3{float: left;width: 100px;height: 100px;background: green;}
