@charset "utf-8";

.wrap{width: 1200px;margin: 0 auto;background-color: #f2f2f2;}

/*header*/
#header{height: 100px;_background-color: #999;}
#header>div{float: left;height: 100px;}
.logo{width: 200px;padding-top: 25px;}
.logo img{width: 200px;}

.main_menu{width: 1000px;_background-color: #666;}
.main_menu ul{float: right;margin-top:50px; }
.main_menu li{
    float: left;width: 150px;height: 50px;
    background-color: #5b9bd5;
    line-height: 50px;text-align: center;
    position: relative;
}
.main_menu li:hover{background-color: #ffc000;}
.main_menu li a{display: block;}
.sub_menu{display: none;position: absolute;top: 0;left: 0;z-index: 6;}
.sub_menu li{background-color: #ffc000;}
.sub_menu li:hover{background-color: #5b9bd5;}
.sub_box{display: none;position: absolute;top: 100px;height: 200px;background-color: #ffc000;width: 1200px;z-index: 5;}

/*banner*/
#banner{height: 300px;background-color: #888;position: relative;}
#banner li{position: absolute;top: 0;}
#banner li:nth-child(1){z-index: 3;}
#banner li:nth-child(2){z-index: 2;}
/*contents*/
#contents{height: 200px;}
#contents>div{width: 400px;float: left;height: 200px;}
.cont1{position: relative;}
.cont1 h1{
    width: 150px;height: 40px;background-color: #5b9bd5;
    float: left;text-align: center;line-height: 40px;}
.tab_menu h1 a{display: block;}
.tab_menu h1:hover{background-color: #ffc000;}

.tab_menu h1.active{background-color: #ffc000;color: aliceblue}
.tab_cont{
    position: absolute;width: 400px;height: 160px;
    background-color: #ffc000;bottom: 0;}
.tab_cont table{padding-top: 5px;font-size: 0.8em;}
.tab_cont td{padding-top: 10px;}

.txt{position: absolute;top: 0;}
.tab_cont li{display: none;}
.tab_cont li.active{display: block;}

.popup{display: none;
    width: 500px;height: 500px;background-color: #ff5050;
    position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 7;
}
.close{width: 70px;height: 30px;border: 1px solid #000;position: absolute;right: 0;bottom: 0;text-align: center;line-height: 30px;margin: 30px;}
.close:hover{background-color: #ffc000;}
.close a{display: block;}

.cont2{padding: 10px;}
.cont2 a{float: left;width: 70px;height: 70px;background-color: #444;margin: 20px  20px 20px 30px;padding: 5px;}
.cont2 a:hover img{opacity: 0.5;transition: 0.3s;}
.cont3{padding: 10px;}
.cont3 a{float: left;}
.cont3 a img{width: 150px;padding-right: 20px;margin: 30px 20px;}

/*footer*/
#footer{height: 100px;_background-color: #666;}
#footer>div{float: left;height: 100px;float: left;}
.up{width: 1000px;height: 50px;text-align: center;}
.up a{padding-right: 20px;line-height: 50px;}

.down{width: 1000px;height: 50px;text-align: center;}
.down a{font-size: 13px;}
.foot2{width: 200px;padding: 25px;}
.foot2 select{width: 150px;height: 40px;}